<div class="banner">
    <img src="assets/images/banners/home-bg.jpg" alt="" class="banner__img">
    
    <div class="banner__content">
        <h1 class="banner__title">¡Hola! Soy Paul,diseñador freelance en Madrid</h1>
    </div>

</div>


<section class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2 class="subtitle mb-4">Quién soy y qué es lo que hago</h2>
            <p>
                Soy Pault Tamayo, diseñador freelance gráfico, web y también diseñador de juegos de mesa con más de 20 años de experiencia trabajando para empresas de todo tipo.
            </p>
            <p>
                Actualmente ofrezco mis servicios como diseñador freelance con el objetivo de ayudar a profesionales y empresas en todo lo que puedan necesitar para la comunicación visual de sus productos, juegos y/o servicios.
            </p>
        </div>
        <div class="col-md-6">
            <div class="position-relative">
                <overlay></overlay>
                <img src="assets/images/avatar.jpg" alt="Avatar" class="avatar">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="subtitle">Mis proyectos</h2>
        </div>
    </div>
</div>

<section class="gallery mb-5">

    <div class="gallery__item">
        <img src="assets/images/projects/photo-1.jpg" alt="" class="gallery__img">
    </div>

    <div class="gallery__item">
        <img src="assets/images/projects/photo-2.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-3.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-4.jpg" alt="" class="gallery__img">
    </div>

    <div class="gallery__item">
        <img src="assets/images/projects/photo-5.jpg" alt="" class="gallery__img">
    </div>

    <div class="gallery__item">
        <img src="assets/images/projects/photo-6.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-7.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-8.jpg" alt="" class="gallery__img">
    </div>

</section>

<section class="container mb-5">

    <div class="row mb-5">
    
        <div class="col-lg-4">
            <i class="far fa-edit fa-4x"></i>
            <h2>Diseño Gráfico</h2>
            <p>Todo lo que necesites para la comunicación visual de tu producto o empresa.</p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-desktop fa-4x"></i>
            <h2>Diseño Web e Interactivo</h2>
            <p>Presencia en internet y material para promocionar tus productos y servicios.</p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-tags fa-4x"></i>
            <h2>Diseño de Marcas</h2>
            <p>La identidad para tu empresa y/o producto con la creatividad necesaria para destacar.</p>
        </div>

    </div>

    <div class="row">
    
        <div class="col-lg-4">
            <i class="far fa-user fa-4x"></i>
            <h2>Marca Personal</h2>
            <p>Pon tu marca personal en manos de un profesional con experiencia.</p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-th-large fa-4x"></i>
            <h2>Diseño de Juegos de Mesa</h2>
            <p>Diseño gráfico de todos los componentes para hacer realidad tu juego de mesa.</p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-flag fa-4x"></i>
            <h2>Material para Eventos</h2>
            <p>Material promocional para eventos y jornadas en las que quieras presentar tus productos.</p>
        </div>

    </div>

</section>


<section class="container mb-5">
    <div class="row">
        <div class="col">
            <h2 class="subtitle text-center">¿Trabajamos juntos?</h2>
            <p class="text-center" style="font-weight: 900;font-size: 20px;">hola@paultamayo.com</p>
        </div>
    </div>
</section>