<div class="banner">
    <img src="assets/images/banners/portfolio-bg.jpg" alt="" class="banner__img">
    
    <div class="banner__content">
        <h1 class="banner__title">Portafolio</h1>
    </div>

</div>

<section class="container my-5">

    <div class="row">
        <div class="col">
            <h2 class="subtitle">
                Aquí tienes una selección de algunos de los trabajos que he realizado en empresas y también en mi etapa como freelance...
            </h2>
        </div>
    </div>

</section>

<section class="gallery mb-5">

    <div class="gallery__item">
        <img src="assets/images/projects/photo-1.jpg" alt="" class="gallery__img">
    </div>

    <div class="gallery__item">
        <img src="assets/images/projects/photo-2.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-3.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-4.jpg" alt="" class="gallery__img">
    </div>

    <div class="gallery__item">
        <img src="assets/images/projects/photo-5.jpg" alt="" class="gallery__img">
    </div>

    <div class="gallery__item">
        <img src="assets/images/projects/photo-6.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-7.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__item">
        <img src="assets/images/projects/photo-8.jpg" alt="" class="gallery__img">
    </div>

</section>
