<div class="banner">
    <img src="assets/images/banners/about-bg.jpg" alt="" class="banner__img">
    
    <div class="banner__content">
        <h1 class="banner__title">Sobre mí</h1>
    </div>

</div>


<section class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2 class="subtitle mb-4">¿Quién soy?</h2>
            <p>
                Se puede decir que eso soy un tipo que ha tenido la suerte de trabajar en lo que le gusta y le apasiona estos últimos 20 años de su vida. Soy egresado del Instituto Superior de Comunicación Visual de Rosario con el título de Diseñador Gráfico. Realizo cursos, másteres para mejorar mi formación y estar permanentemente actualizado en esta profesión tan cambiante.
            </p>
            <p>
                He tenido el privilegio de trabajar en empresas de diversos sectores como Parques Reunidos, Lanetro Zed, Recoletos Grupo de Comunicación (Unidad Editorial), Publicis Dialog, Ahorro Corporación Financiera entre otras. En la actualidad trabajo como freelance para clientes que con su confianza en mi trabajo me permiten continuar con mi desarrollo profesional
            </p>
        </div>
        <div class="col-md-6">
            <div class="position-relative">
                <img src="assets/images/about.jpg" alt="Avatar" class="avatar">
            </div>
        </div>
    </div>
</section>


<section class="container mb-5">

    <div class="row mb-5">
    
        <div class="col-lg-6">
            <i class="fas fa-briefcase fa-4x"></i>
            <h2>Mi experiencia</h2>
            <p>
                Grupo Prima / Parques Reunidos / Lanetro Zed / Recoletos Grupo de Comunicación / Publicis Dialog / Ahorro Corporación Financiera / JOT Internet Media. Actualmente trabajo por mi cuenta como diseñador gráfico y web freelance.
            </p>
        </div>
        <div class="col-lg-6">
            <i class="far fa-lightbulb fa-4x"></i>
            <h2>Mis conocimientos</h2>
            <p>
                Photoshop / Illustrator / Dreamweaver / Flash / Fireworks / Indesign / Acrobat / Premiere/ Final Cut / HTML5 / CSS3 / WordPress / nociones de Actionscript, Javascript y PHP entre otros. Trabajo tanto en plataforma MAC (preferentemente) como en PC.
            </p>
        </div>
    </div>

</section>