<div class="banner">
    <img src="assets/images/banners/contact-bg.jpg" alt="" class="banner__img">
    
    <div class="banner__content">
        <h1 class="banner__title">Contacta conmigo</h1>
    </div>
</div>

<section class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2 class="subtitle mb-4">¿Trabajamos juntos?</h2>
            <p>
                No dudes de contactar conmigo, cada proyecto es un nuevo desafío para mi, no existen clientes grandes o pequeños, todos son importantes y todos reciben un servicio basado en la experiencia y la creatividad. Con un trato amable y cercano trataré de ser tu socio en busca de la mejor solución para la comunicación visual de tu producto o de tu empresa.
            </p>
            <p>
                Puedes escribir a hola@paultamayo.com, llamarme al teléfono 760 760 010 o bien utilizar las vías de comunicación que nos ofrecen redes sociales como Linkedin, Twitter o Facebook.
            </p>
            <p>
                Trataré de responder a tu mensaje con la mayor brevedad posible. Como dato adicional comentarte que resido actualmente en Madrid (España).
            </p>
        </div>
        <div class="col-md-6">
            <div class="position-relative">
                <overlay></overlay>
                <img src="assets/images/location.jpg" alt="Avatar" class="avatar">
            </div>
        </div>
    </div>
</section>

<section class="container mb-5">

    <div class="row mb-5">
    
        <div class="col-lg-4">
            <i class="fas fa-phone fa-4x"></i>
            <h2>(+34) 760760010</h2>
            <p>
                De lunes a viernes de 09:00 a 19:00 hs.
            </p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-envelope fa-4x"></i>
            <h2>hola@paultamayo.com</h2>
            <p>
                Cuéntame lo que necesitas.
            </p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-map-marker-alt fa-4x"></i>
            <h2>Madrid (España)</h2>
            <p>Para reuniones o entrevistas personales.</p>
        </div>

    </div>

</section>

